body {
    background-color: lightblue;
}

@media screen and  (min-width: 480px) {
    body {
        background-color: lightcoral;
        gap: 30px;


    }
}

@media screen and (min-width:800px) {
    body {
        background-color: rgb(162, 236, 162);
    }
}
/* Nav */

nav {
    display:flex;
    justify-content: space-evenly;
    border: 2px solid red;

}

@media (min-width: 600px) {
    nav {
        display: flex;
        flex-direction:  column;
        align-items: center;
        padding: 0 50px;
        flex: 1;
        
    }

    body {
        /* display: grid;
        grid-template-columns: 100px 1fr; */
        display: flex;
        gap: 10px;

    }
}
