body {
    background-color: lightblue;
}

@media screen and  (min-width: 480px) {
    body {
        background-color: lightcoral;


    }
}

@media screen and (min-width:800px) {
    body {
        background-color: rgb(162, 236, 162);
    }
}
/* Nav */

nav {
    display:flex;
    gap: 30px;
    justify-content: space-evenly;
    border: 2px solid red;

}
